<!DOCTYPE html>
<html>
  <head>
    <title>CoderDojo - San Francisco</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="logo_main_wrap">
      <div class="logo_main">
        <div class="letter c"></div>
        <div class="letter d"></div>
        <%= link_to "", root_path %>
      </div> 
    </div>  
    
    <div class="container">   
      <%= yield %>
    </div>
    <%= render "layouts/footer_logo" %>
</body>
</html>