<!DOCTYPE html>
<html>
  <head>
    <title>CoderDojo - San Francisco</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="nav_container">
      <div id="yingyang">
        <%= image_tag("coder-dojo-logo.png") %>
      </div>
      <ul class="nav_main">
        <li><a class="home_link"href="#">home</a></li>
        <li><a class="register_link"href="#">register</a></li>
      </ul>
      <ul class="nav_main">
        <li><a class="lessons_link"href="#">lessons</a></li>
        <li class="left_link">CoderDojo&nbsp;&nbsp;&nbsp;&nbsp;com</li>
      </ul>
    </div>
    <div class="container">
      <%= yield %>
    </div>
<!--     <%= render "layouts/footer_logo" %>
    <div class="logo_main_wrap">
      <div class="logo_main">
        <div class="letter c"></div>
        <div class="letter d"></div>
      </div>
    </div> -->
</body>
</html>
